body{
	background-color: #1c1c1c;
}
.body{
	background-color:#1c1c1c;
	color:black;
	font-family:Verdana, Tahoma, Sans-serif;
	text-align:justify;
}

.head{
	font-family:Arial;
	background-color:#4c4c4c;
	color:white;
}
.paragraph{
	font-family:Arial;
	font-size:1.25em;
	line-height:30px;
	color: white;
}

.title{
	font-family:Helvetica;
	text-align:center;
	color: white;
}
img{
	width: 250px;
	height: 200px;
	border:solid 3px white;
	border-radius: 30px;
	opacity: 0.25;
	transition: transform 0s;

}
img:hover{
	opacity:1;
	transform: scale(1.2);
	box-shadow: 6px 6px 10px white;
}
	
.center{
	text-align: center;
}

.clean{
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
}


.clean{
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
	color: white;
	transition: transform 0s;
	font-family: helvetica;
}


.clean:hover{
	color: white;
	transform: scale(1.3);
}



/* navigation lang ito */
/* navigation bar css */
.topnav {
  background-color: #363636;
  overflow: hidden;
  font-family: courier;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18.4px;
  font-weight: bold;

}

.topnav a:hover {
  color: #696969;
}

.topnav a.active {
  background-color: #4d4d4d;
  color: white;
}